{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Validation - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">
       
    <div class="hidden-small">
      <div class="row">
        <div class="col-2 text-center">
          <a href="{{ path('plateforme_ecommerce_tunnel_panier') }}" class="text-success">
            <small>Votre panier</small>
            <br><i class="fa fa-shopping-cart" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-2 text-center text-success">
          <small>Authentification</small>
          <br><i class="fa fa-sign-in" aria-hidden="true"></i>
        </div>
        <div class="col-2 text-center">
          <a href="{{ path('plateforme_ecommerce_tunnel_livraison') }}" class="text-success">
            <small>Livraison</small>
            <br><i class="fa fa-truck" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-2 text-center text-primary">
          <small>Validation</small>
          <br><i class="fa fa-check-square" aria-hidden="true"></i>
        </div>
        <div class="col-2 text-center text-muted">
          <small>Paiement</small>
          <br><i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div class="col-2 text-center text-muted">
          <small>Récapitulatif</small>
          <br><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>
      </div>
      <div class="progress" style="height: 1px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar" role="progressbar" style="width: 16%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <br>
    </div>

    <h1>Récapitulatif de votre commande</h1>

    <h2>Votre commande</h2>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Références</th>
          <th>Prix unitaire</th>
          <th>Quantité</th>
          <th>Total HT</th>
        </tr>
      </thead>
      <tbody>
        {% for produit in produits %}
        <tr>
          <td>{{ produit.titre }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ panier[produit.id] }}</td>
          <td>{{ produit.prix * panier[produit.id] }} €</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Livraison</h2>
    <div class="row">
      <div class="col-6">
        <i class="fa fa-truck fa-3x" aria-hidden="true"></i>
        <br>
        <b>Adresse de livraison:</b>
        <br>{{ adresse_livraison['livraison_prenom'] }} {{ adresse_livraison['livraison_nom'] }}
        <br>{{ adresse_livraison['livraison_adresse'] }} {{ adresse_livraison['livraison_complement'] }}
        <br>{{ adresse_livraison['livraison_cp'] }} {{ adresse_livraison['livraison_commune'] }} ({{ adresse_livraison['livraison_pays'] }})
      </div>
      <div class="col-6">
        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
        <br>
        <b>Adresse de facturation:</b>
        <br>{{ adresse_facturation['facturation_prenom'] }} {{ adresse_facturation['facturation_nom'] }}
        <br>{{ adresse_facturation['facturation_adresse'] }} {{ adresse_facturation['facturation_complement'] }}
        <br>{{ adresse_facturation['facturation_cp'] }} {{ adresse_facturation['facturation_commune'] }} ({{ adresse_facturation['facturation_pays'] }})
      </div>
    </div>
    <br>

    <h2>Mode de paiement</h2>

    <form action="{{ path('plateforme_ecommerce_tunnel_paiement') }}" method="POST">
      <input type="radio" name="mode_paiement" value="paiement_cheque_virement"> Paiement par chèque ou virement
      <br>
      <input type="radio" name="mode_paiement" value="paiement_paypal"> Paiement par Paypal
      
      <hr>

      <button class="btn btn-success pull-right" type="submit">
        <i class="fa fa-check" aria-hidden="true"></i>
        Valider votre commande
      </button>
    </form>

  </div>
{% endblock %}