{% if reseaux_sociaux.facebook is defined and reseaux_sociaux.facebook != '' %}
  <a href="{{ reseaux_sociaux.facebook }}" target="_blank">
    <i class="fa fa-facebook-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.twitter is defined and reseaux_sociaux.twitter != '' %}
  <a href="{{ reseaux_sociaux.twitter }}">
    <i class="fa fa-twitter-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.google is defined and reseaux_sociaux.google != '' %}
  <a href="{{ reseaux_sociaux.google }}">
    <i class="fa fa-google-plus-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.youtube is defined and reseaux_sociaux.google != '' %}
  <a href="{{ reseaux_sociaux.youtube }}">
    <i class="fa fa-youtube-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.viadeo is defined and reseaux_sociaux.viadeo != '' %}
  <a href="{{ reseaux_sociaux.viadeo }}">
    <i class="fa fa-viadeo-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.linkedin is defined and reseaux_sociaux.viadeo != '' %}
  <a href="{{ reseaux_sociaux.linkedin }}">
    <i class="fa fa-linkedin-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.instagram is defined and reseaux_sociaux.viadeo != '' %}
  <a href="{{ reseaux_sociaux.instagram }}">
    <i class="fa fa-instagram fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.flickr is defined and reseaux_sociaux.viadeo != '' %}
  <a href="{{ reseaux_sociaux.flickr }}">
    <i class="fa fa-flickr fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.pinterest is defined and reseaux_sociaux.viadeo != '' %}
  <a href="{{ reseaux_sociaux.pinterest }}">
    <i class="fa fa-pinterest-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}
{% if reseaux_sociaux.reddit is defined and reseaux_sociaux.viadeo != '' %}
  <a href="{{ reseaux_sociaux.reddit }}">
    <i class="fa fa-reddit-square fa-2x text-light" aria-hidden="true"></i>
  </a>
{% endif %}