<!DOCTYPE html>
<html>
  <body>

    <p>Bonjour,</p>

    <p>
      {{ valeurs_recu['share_prenom'] }} {{ valeurs_recu['share_nom'] }} a souhaitez partager cette page avec vous:
      <a href="{{ url }}">{{ url }}</a>
      <br>
      Message:
      <br>
      {{ valeurs_recu['share_message'] }}
    </p>

  </body>
</html>