{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {{ marque.titre }} - {{ parent() }}
{% endblock %}

{% block body %}

  <div itemscope itemtype="http://schema.org/Brand">

    <div class="container">
      <h1 itemprop="name">{{ marque.titre }}</h1>

      <div itemprop="description">
        {{ marque.contenu|raw }}
      </div>

      {% if produits|length != 0 %}
        <div class="row">
          {% for produit in produits %}
            <div class="col-sm-3">
              <div class="card">
                <a href="{{ path('plateforme_catalogue_produits_view', {'slug': produit.slug}) }}">
                  <div class="card-body">
                    <img
                      itemprop="image"
                      class="img-fluid"
                      src="{{ asset(produit.image.webPath) }}"
                      alt="{{ produit.image.alt }}"
                      />
                  </div>
                  <div class="card-footer">
                    {{ produit.titre }}
                  </div>
                </a>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>

  </div>

{% endblock %}