{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Gestion des questions de la FAQ - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Gestion des questions de la FAQ </h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_page_faq_edit') }}">FAQ</a></li>
    <li class="breadcrumb-item active">Questions</li>
  </ol>
    
  <hr>

  <a href="{{ path('plateforme_core_page_faq_question_add') }}" class="btn btn-success btn-sm">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter une question
  </a>

  <br><br>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Question</th>
          <th>Poid</th>
          <th>Actions</th>
        </tr>
      </thead>
      {% for question in questions %}
        <tr>
          <td>{{ question.id }}</td>
          <td>{{ question.question }}</td>
          <td>{{ question.weight }}</td>
          <td>
            <a href="{{ path('plateforme_core_page_faq_question_edit', {'id': question.id}) }}" data-toggle="tooltip" data-placement="top" title="Modifier">
              <i class="fas fa-pencil-alt"></i>
            </a>
            &nbsp;|&nbsp;
            <a href="{{ path('plateforme_core_page_faq_question_delete', {'id': question.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?');">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}