{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% set totalHT = 0 %}
{% set totalTTC = 0%}
{% set refTva = {} %}
{% for produit in produits %}
  {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : 0 }) %}
{% endfor %}

{% block body %}
  <div class="container">
    <h1>Votre panier</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Références</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Total HT</th>
        </tr>
      </thead>
      <tbody>
        {% if produits|length == 0 %}
          <tr>
            <td colspan="4"><center>Aucun articles dans votre panier</center></td>
        </tr>
      {% endif %}

      {% for produit in produits %}
        <tr>
        <form action="{{ path('plateforme_ecommerce_commandeligne_add', { 'id' : produit.id }) }}" method="get">
          <td>
            <a href="{{ path('plateforme_core_homepage') }}produits/{{ produit.slug }}">
                <img
                  style="width:75px;"
                  class="img-fluid"
                  src="{{ asset(produit.image.webPath) }}"
                  alt="{{ produit.image.alt }}"
                />
                {{ produit.titre }}
              </div>
            </a>
          </td>
          <td>
            <div class="row">
              <div class="col">
                <input
                  name="qte" class="form-control" 
                  class="form-control"
                  value="{{ panier[produit.id] }}" 
                  type="number"
                  onChange="this.form.submit()"
                  >
              </div>
              <div class="col col-1">
                <a href="{{ path('plateforme_ecommerce_commandeligne_delete', { 'id' : produit.id }) }}">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </td>
          <td>{{ produit.prix }} €</td>
          <td>{{ produit.prix * panier[produit.id] }} €</td>
        </form>
        </tr>
        {% set totalHT = totalHT + (produit.prix * panier[produit.id]) %}
        {% set totalTTC = totalTTC + (produit.prix * panier[produit.id])|tva(produit.tva.multiplicate) %}
        {% set refTva = refTva|merge({ ('%' ~ produit.tva.valeur) : refTva['%' ~ produit.tva.valeur] + ( produit.prix * panier[produit.id])|montantTva(produit.tva.multiplicate) }) %}
      {% endfor %}
      </tbody>
    </table>

    {% if produits|length != 0 %}
      <hr>
      <dl class="row">
        <dt class="col-sm-10 text-right">Total HT :</dt>
        <dd class="col-sm-2">{{ totalHT }} €</dd>
        {% for key, tva in refTva %}
          <dt class="col-sm-10 text-right">TVA {{ key }} :</dt>
          <dd class="col-sm-2">{{ tva }} €</dd>
        {% endfor %}
        <dt class="col-sm-10 text-right">Total TTC :</dt>
        <dd class="col-sm-2">{{ totalTTC }} €</dd>
      </dl>
      
      <div class="clearfix"></div>

      <a href="{{ path('plateforme_catalogue_produits_index') }}" class="btn btn-primary text-right">
        <i class="fa fa-reply" aria-hidden="true"></i>
        Continuer mes achats
      </a>
      <a href="{# path('livraison') #}" class="btn btn-success pull-right">
        <i class="fa fa-check" aria-hidden="true"></i>
        Valider mon panier
      </a>
    {% endif %}

  </div>
{% endblock %}