<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Espace Pro">
    <meta name="author" content="Adrien Durmier">
    <title>{% block title %}Espace Pro{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#007bff">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="{{ asset('css/backoffice.css') }}" rel="stylesheet">
    {% endblock %}
  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('plateforme_core_bo_homepage') }}">
          Espace <b>Pro</b></i>
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_bo_configuration') }}">
                <i class="fas fa-cogs"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_homepage') }}">
                <i class="fas fa-external-link-alt"></i>
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="btn btn-warning" href="#" id="notification_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-bell"></i> <span class="badge badge-light">9</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notification_dropdown">
                <a class="dropdown-item" href="#">todo</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">todo</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <i class="far fa-user-circle"></i>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                  <small>{{ app.user.username }}</small>
                {% endif %}
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('fos_user_security_logout') }}">
                <i class="fas fa-sign-out-alt"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <b>&nbsp;Contenus</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_contenu_crud') }}">
                <i class="fa fa-list" aria-hidden="true"></i> Gérer les contenus
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_homepage_edit') }}">
                <i class="fa fa-home" aria-hidden="true"></i>&nbsp;Accueil
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_page_pages_crud') }}">
                <i class="far fa-file-alt"></i>&nbsp;Pages standards
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-comments" aria-hidden="true"></i>&nbsp;Formulaire de contact
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_page_faq_edit') }}">
                <i class="fa fa-question-circle" aria-hidden="true"></i>&nbsp;FAQ
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_core_page_actualites_crud') }}">
                <i class="far fa-newspaper"></i>&nbsp;Actualités
              </a>
            </li>
          </ul>
          <hr>
          <b>&nbsp;Catalogue</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_categories_crud') }}">
                <i class="fas fa-tags"></i>&nbsp;Catégories
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_marques_crud') }}">
                <i class="fas fa-folder"></i>&nbsp;Marques
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_produits_crud') }}">
                <i class="fab fa-product-hunt"></i>&nbsp;Produits
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_attributs_categories_crud') }}">
                <i class="fas fa-list-alt"></i>&nbsp;Attributs
              </a>
            </li>
          </ul>

          <hr>

          <b>&nbsp;Ecommerce</b>
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_ecommerce_commandes_crud') }}">
                <i class="far fa-file-alt"></i>&nbsp;Commandes
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_ecommerce_etatspaiement_crud') }}">
                <i class="fas fa-euro-sign"></i>&nbsp;État de paiement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_ecommerce_etatslivraison_crud') }}">
                <i class="fas fa-truck"></i>&nbsp;État de livraison
              </a>
            </li>
          </ul>
        </nav>

        <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
          {# On affiche tous les messages flash #}
          {% for message in app.session.flashbag.get('success') %}
            <div class="alert alert-success alert-dismissible fade in show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button> <i class="fa fa-check-circle" aria-hidden="true"></i> {{ message }}
            </div>
          {% endfor %} 
          {% for message in app.session.flashbag.get('info') %}
            <div class="alert alert-info alert-dismissible fade in show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button> <i class="fa fa-info-circle" aria-hidden="true"></i> {{ message }}
            </div>
          {% endfor %} 
          {% for message in app.session.flashbag.get('warning') %}
            <div class="alert alert-warning alert-dismissible fade in show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ message }}
            </div>
          {% endfor %} 
          {% for message in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger alert-dismissible fade in show" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button> <i class="fa fa-times-circle" aria-hidden="true"></i> {{ message }}
            </div>
          {% endfor %} 

          {% block body %}
          {% endblock %}

        </main>
      </div>
    </div>
    {% block javascripts %}
      <noscript>Your browser does not support JavaScript!</noscript>
      <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
      <script>
        /***********************************************************************
         * CONTRIBUTEURS
         **********************************************************************/
        // Lance la recherche si l'utilisateur n'a pas saisie depuis 500ms
        $('#search_engine').keyup(function () {
          clearTimeout($.data(this, 'timer'));
          var wait = setTimeout(searchAutocomplete, 500);
          $(this).data('timer', wait);
        });

        function searchAutocomplete() {
          searchContributeurs();
        }

        // Recherche de produit pour l'autocompletion
        function searchContributeurs() {
          var nb_caractere_debut_recherche = 2;
          if ($('#search_engine').val().length >= nb_caractere_debut_recherche) {
            var parametres = {
              term: $('#search_engine').val().replace(' ', '+'), // Terme à rechercher dans les titres de produits
              limit: 10                                            // Nombre maximum de résultats à afficher
            };
            $.ajax({
              url: "{{ path('plateforme_core_pages_contributeurs_search') }}",
              type: 'get',
              dataType: 'json',
              beforeSend: function () {
                $('#search_engine_picto').html('<i class="fa fa-spinner fa-pulse fa-fw"></i>');
              },
              success: function (data) {
                $('#header_search_results').show();
                $('#search_engine_picto').html('<i class="fa fa-search"></i>');
                var results_html = '';
                $.each(data.data.user, function (index, element) {
                  results_html = results_html + '<div class="autocomplete_result">';
                  results_html = results_html + '<a class="autocomplete_contributeur_choice" href="#" data-contributeur-id="'+element.id+'" data-contributeur-nom="'+element.nom+'" data-contributeur-prenom="'+element.prenom+'">';
                      results_html = results_html + element.nom  + ' ' + element.prenom ;
                    results_html = results_html + ' <small class="text-muted">(';
                      results_html = results_html + element.email ;
                    results_html = results_html + ')</small>';
                  results_html = results_html + '</a>';
                  results_html = results_html + '</div>';
                });
                results_html = results_html + '</div>';
                $('#header_search_contributeurs').html(results_html);
              },
              data: parametres
            });
          }
        }
        jQuery(document).on('click', '.autocomplete_contributeur_choice', function (event) {
          var contributeur_choice = jQuery(this).data('contributeur-id');
          var contributeur_nom = jQuery(this).data('contributeur-nom');
          var contributeur_prenom = jQuery(this).data('contributeur-prenom');
          jQuery('#search_engine_choice').val(contributeur_choice);
          jQuery('#search_engine').val(contributeur_prenom + ' ' + contributeur_nom);
          jQuery('#header_search_results').hide();
        });
        
        /***********************************************************************
         * SEO
         **********************************************************************/
        // Permet de compter les caractères
        jQuery(document).on('change keyup', '#metatitle', function (event) {
          var taille_metatitle = $(this).val().length;
          jQuery('#metatitle_size').text(taille_metatitle);
        });
        jQuery(document).on('change keyup', '#metadescription', function (event) {
          var taille_metadescription = $(this).val().length;
          jQuery('#metadescription_size').text(taille_metadescription);
        });

        /***********************************************************************
         * PARTIE VERSIONNING
         **********************************************************************/
        // Renvoie l'identifiant de la version sélectionnée au formulaire d'ajout de commentaire de version
        jQuery(".add_comment_link").click(function () {
          var version_id = jQuery(this).data('version-id');
          getPageCommentaires(version_id);
        });
        jQuery("#addCommentaire").click(function () {
          var version_id = jQuery("#version_id").val();
          addCommentaire(version_id);
        });
        function addCommentaire(version_id) {
          var version_comment = jQuery('#version_comment').val();
          var parametres = {
            version_id: version_id,
            version_comment: version_comment
          };
          jQuery.ajax({
            url: "{{ path('plateforme_core_pages_commentaires_add') }}",
            type: 'post',
            dataType: 'json',
            success: function (data) {
              getPageCommentaires(version_id);
            },
            data: parametres
          });
        }
        function getPageCommentaires(version_id) {
          jQuery("#version_id").val(version_id);
          var parametres = {
            version_id: version_id
          };
          jQuery.ajax({
            url: "{{ path('plateforme_core_pages_commentaires_get') }}",
            type: 'post',
            dataType: 'json',
            beforeSend: function () {
              jQuery('#comments_area').html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Chargement des messages');
            },
            success: function (data) {
              var results_html = '';
              if (data.data.commentaires.length > 0) {
                jQuery.each(data.data.commentaires, function (index, element) {
                  results_html = results_html + '<blockquote class="blockquote bg-light p-2">';
                    results_html = results_html + '<p class="mb-0">';
                      results_html = results_html + element.comment;
                    results_html = results_html + '</p>';
                    results_html = results_html + '<footer class="blockquote-footer">';
                      results_html = results_html + 'de ' + element.user + ' le ' + element.date;
                    results_html = results_html + '</footer>';
                  results_html = results_html + '</blockquote>';
                });
              } else {
                results_html = results_html + 'Aucun commentaire';
              }
              jQuery('#comments_area').html(results_html);
              jQuery("#version_comment").val('');
              jQuery("#comments_area").scrollTop($("#comments_area")[0].scrollHeight);
            },
            data: parametres
          });
        }
        // Permet de mettre à jour les commentaires directement si l'utilisateur fait Entrer
        $('#form_version_comments').submit(function (e) {
          var version_id = jQuery("#version_id").val();
          addCommentaire(version_id);
          e.preventDefault();
        });
        // Mets le focus sur la saisie de commentaire au chargement de la fenêtre
        $('#versionCommentModal').on('shown.bs.modal', function () {
          $('#version_comment').focus();
        });
      </script>
    {% endblock %}

  </body>
</html>