<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plateforme">
    <meta name="author" content="Adrien Durmier - www.codeur-job.fr">
    <title>{% block title %}Plateforme{% endblock %}</title>
    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="{{ asset('css/frontoffice.css') }}" rel="stylesheet">
      <link href="{{ asset('css/plugins/jquery.typeahead.min.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <div class="container">
        <a class="navbar-brand" href="{{ path('plateforme_core_homepage') }}">Plateforme</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_marques_index') }}">Marques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_produits_index') }}">Produits</a>
            </li>
          </ul>
          <form id="form-search-engine" name="form-search-engine" class="my-2 my-md-0">
            <div class="typeahead__container">
              <div class="typeahead__field">
                <span class="typeahead__query">
                  <input id="search_engine" class="form-control" name="search[query]" placeholder="Rechercher" autocomplete="off" type="search">
                </span>
                <span class="typeahead__button">
                  <button type="submit" id="search-button">
                    <i class="typeahead__search-icon"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
          <ul class="navbar-nav">
            {{ render(controller("PlateformeEcommerceBundle:Panier:menu")) }}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li class="nav-item dropdown">
                <a class="btn btn-default" href="#" id="menuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuUser">
                  {% if is_granted('ROLE_CLIENT') %}
                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                      <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Mon Compte
                    </a>
                  {% endif %}
                  {% if is_granted('ROLE_EMPLOYE') %}
                    <a class="dropdown-item" href="{{ path('plateforme_core_bo_homepage') }}">
                      <i class="fa fa-user" aria-hidden="true"></i>&nbsp;Espace Pro
                    </a>
                  {% endif %}
                  <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Déconnexion
                  </a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{{ path('plateforme_user_login') }}" class="btn btn-default">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {# On affiche tous les messages flash dont le nom est « success » #}
    {% for message in app.session.flashbag.get('success') %}
      <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('info') %}
      <div class="container">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('warning') %}
      <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('danger') %}
      <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      </div>
    {% endfor %} 

    {% block body %}
    {% endblock %}

    <div class="clearfix"></div>

    <footer class="bg-dark text-light mt-2">
      <div class="container p-3">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            2017 © Adrien Durmier - <a href="http://www.codeur-job.fr" class="text-light" target="_blank">www.codeur-job.fr</a>
          </div>
          <div class="col-xs-12 col-sm-4">
          </div>
          <div class="col-xs-12 col-sm-4">
            <a href="#">
              <i class="fa fa-facebook-square fa-2x text-light" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-twitter-square fa-2x text-light" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-google-plus-square fa-2x text-light" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-share-alt-square fa-2x text-light" aria-hidden="true"></i>
            </a>
          </div>
        </div>
    </footer>

    {% block javascripts %}
      <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      <script src="{{ asset('js/plugins/jquery.typeahead.min.js') }}"></script>
      <script>
        // Moteur de recherche
        $.typeahead({
          input: '#search_engine', // identifiant du champ d'autocomplétion
          minLength: 3, // lance la recherche seulement si 3 caractères minimum sont saisies
          delay: 500, // permet de laisser une 1/2 seconde entre chaque caractère tapé avant de lancer la recherche.
          order: "asc",
          emptyTemplate: 'Aucun résultat pour "{% verbatim %}{{query}}{% endverbatim %}"',
          source: {
            produit: {
              display: "produit",
              href: "{{ path('plateforme_core_homepage') }}produits/{% verbatim %}{{slug}}{% endverbatim %}",
              ajax: [{
                  type: "GET",
                  url: "{{ path('plateforme_core_homepage') }}search/produits/json",
                  data: {
                    term: "{% verbatim %}{{query}}{% endverbatim %}"
                  }
                }, "data.produit"],
              template:
                      '<span>' +
                      '<span class="produit-image">' +
                      '<img src="{% verbatim %}{{image}}{% endverbatim %}" width="50" height="50">' +
                      '</span>' +
                      '<span class="produit-information">' +
                      '<span class="produit">{% verbatim %}{{produit}}{% endverbatim %}</span>' +
                      '<span class="text-muted"> - Code produit: {% verbatim %}{{id}}{% endverbatim %}</span>' +
                      '</span>' +
                      '</span>'
            }
          },
          debug: true
        });
        $('#form-search-engine').submit(function (e) {
          if ($('#search_engine').val() != '') {
            e.preventDefault();
            window.location.href = "{{ path('plateforme_core_homepage') }}resultats/" + $('#search_engine').val();
            e.stopPropagation();
          } else {
            e.preventDefault();
            window.location.href = "#";
            e.stopPropagation();
          }
        });
      </script>
    {% endblock %}
  </body>
</html>
