<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block metadescription %}{% endblock %}">
    <meta name="author" content="Adrien Durmier">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('manifest.json') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#007bff">
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="msapplication-config" content="{{ asset('browserconfig.xml') }}">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="{{ asset('css/frontoffice.css') }}" rel="stylesheet">
    {% endblock %}
  </head>
  <body>

    <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="shareModalTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-primary text-light">
            <div class="modal-title" id="shareModalTitle">Partager cette page</div>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" class="text-light">&times;</span>
            </button>
          </div>
          <form id="form_share" action="{{ path('plateforme_core_share') }}" method="post">
            <div class="modal-body">
              <b>Utilisez un réseau social</b>
              <br>
              <a href="http://www.facebook.com/share.php?u={{ app.request.uri }}&amp;title={{ site_name }}" target="_blank">
                <i class="fab fa-facebook-square fa-2x"></i>
              </a>
              &nbsp;
              <a class="icon" href="http://twitter.com/home?status={{ app.request.uri }}" target="_blank">
                <i class="fab fa-twitter-square  fa-2x"></i>
              </a>
              &nbsp;
              <a class="icon" href="https://plus.google.com/share?url={{ app.request.uri }}l" target="_blank">
                <i class="fab fa-google-plus-square  fa-2x"></i>
              </a>
              &nbsp;
              <a class="icon" href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ app.request.uri }}&amp;title={{ site_name }}&amp;source={{ app.request.uri }}" target="_blank">
                <i class="fab fa-linkedin  fa-2x"></i>
              </a>
              &nbsp;
              <a class="icon" href="http://www.viadeo.com/shareit/share/?url={{ app.request.uri }}&amp;title={{ site_name }}&amp;source={{ app.request.uri }}" target="_blank">
                <i class="fab fa-viadeo-square  fa-2x"></i>
              </a>
              <hr>
              <b>Ou écrivez à un proche</b>
              <br><span class="text-muted"><small><i class="fa fa-info-circle" aria-hidden="true"></i>Le destinataire recevra un mail avec votre message et l'adresse de cette page.</small></span>
              <div class="input-group mt-2">
                <span class="input-group-addon" style="width:100px;">Nom</span>
                <input type="text" class="form-control" id="share_nom" name="share_nom" {% if app.user.nom is defined %}value="{{ app.user.nom }}"{% endif %}>
              </div>
              <div class="input-group mt-2">
                <span class="input-group-addon" style="width:100px;">Prénom</span>
                <input type="text" class="form-control" id="share_prenom" name="share_prenom" {% if app.user.prenom is defined %}value="{{ app.user.prenom }}"{% endif %}>
              </div>
              <div class="input-group mt-2">
                <span class="input-group-addon" style="width:100px;">Destinataire</span>
                <input type="email" class="form-control" id="share_email" name="share_email" {% if app.user.email is defined %}value="{{ app.user.email }}"{% endif %}>
              </div>
              <textarea class="form-control form-control mt-2" id="share_message" name="share_message" rows="3" placeholder="Votre message..."></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">
                <i class="fa fa-times" aria-hidden="true"></i> Annuler
              </button>
              <button type="submit" class="btn btn-success btn-sm">
                <i class="fas fa-bullhorn"></i>&nbsp;Partager
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <div class="container">
        <a class="navbar-brand" href="{{ path('plateforme_core_homepage') }}">
          <img src="{{ asset('favicon-32x32.png') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_categories_index') }}">Nos produits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('plateforme_catalogue_marques_index') }}">Nos marques</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
          <form id="form-search-engine" name="form-search-engine" class="my-2 my-md-0" style="position:relative;">
            <div class="input-group">
              <input id="search_engine" class="form-control" name="search[query]" placeholder="Rechercher" type="search">
              <span id="search_engine_picto" class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
            <div id="header_search_results" style="display:none;">
              <div id="header_search_produits"></div>
            </div>
          </form>
          <ul class="navbar-nav">
            {{ render(controller("PlateformeEcommerceBundle:Panier:menu")) }}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
              <li class="nav-item dropdown">
                <a class="btn btn-default" href="#" id="menuUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuUser">
                  {% if is_granted('ROLE_CLIENT') and is_granted('ROLE_EMPLOYE') == false %}
                    <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                      <i class="fas fa-user"></i>&nbsp;Mon Compte
                    </a>
                  {% endif %}
                  {% if is_granted('ROLE_EMPLOYE') %}
                    <a class="dropdown-item" href="{{ path('plateforme_core_bo_homepage') }}">
                      <i class="fas fa-user"></i>&nbsp;Espace Pro
                    </a>
                  {% endif %}
                  <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>&nbsp;Déconnexion
                  </a>
                </div>
              </li>
            {% else %}
              <li class="nav-item">
                <a href="{{ path('plateforme_user_login') }}" class="btn btn-default">
                  <i class="fas fa-user"></i>
                </a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a href="#" class="btn btn-default" data-toggle="modal" data-target="#shareModal">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {# On affiche tous les messages flash dont le nom est « success » #}
    {% for message in app.session.flashbag.get('success') %}
      <div class="container">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-check-circle" aria-hidden="true"></i> {{ message }}
        </div>
      </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('info') %}
      <div class="container">
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-info-circle" aria-hidden="true"></i> {{ message }}
        </div>
      </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('warning') %}
      <div class="container">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ message }}
        </div>
      </div>
    {% endfor %} 
    {% for message in app.session.flashbag.get('danger') %}
      <div class="container">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <i class="fa fa-times-circle" aria-hidden="true"></i> {{ message }}
        </div>
      </div>
    {% endfor %} 

    {% block body %}
    {% endblock %}

    <div class="clearfix"></div>

    {{ include("PlateformeCoreBundle::footer.html.twig") }}

    {% block javascripts %}
      <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
      <script>
        // Lance la recherche si l'utilisateur n'a pas saisie depuis 500ms
        $('#search_engine').keyup(function () {
          clearTimeout($.data(this, 'timer'));
          var wait = setTimeout(searchProduit, 500);
          $(this).data('timer', wait);
        });

        // Recherche de produit pour l'autocompletion
        function searchProduit() {
          var nb_caractere_debut_recherche = 3;
          if ($('#search_engine').val().length >= nb_caractere_debut_recherche) {
            var parametres = {
              term: $('#search_engine').val().replace(' ', '+'), // Terme à rechercher dans les titres de produits
              limit: 10                                           // Nombre maximum de résultats à afficher
            };
            $.ajax({
              url: "{{ path('plateforme_core_homepage') }}recherche/produits",
              type: 'get',
              dataType: 'json',
              beforeSend: function () {
                $('#search_engine_picto').html('<i class="fa fa-refresh fa-pulse fa-fw"></i>');
              },
              success: function (data) {
                $('#header_search_results').show();
                $('#search_engine_picto').html('<i class="fa fa-search"></i>');
                var results_html = '';
                if (data.data.produit.length > 0) {
                  $.each(data.data.produit, function (index, element) {
                    results_html = results_html + '<div class="autocomplete_result bg-light">';
                    results_html = results_html + '<a href="{{ path('plateforme_core_homepage') }}produits/' + element.slug + '">';
                    results_html = results_html + '<div class="row">';
                    results_html = results_html + '<div class="col-4">';
                    results_html = results_html + '<img class="img-fluid" src="' + element.image + '">';
                    results_html = results_html + '</div>';
                    results_html = results_html + '<div class="col-8">';
                    results_html = results_html + element.titre;
                    results_html = results_html + '</div>';
                    results_html = results_html + '</div>';
                    results_html = results_html + '</a>';
                    results_html = results_html + '</div>';
                  });
                  results_html = results_html + '<div class="autocomplete_all_results bg-light text-muted">';
                  results_html = results_html + '<a href="{{ path('plateforme_core_homepage') }}recherche/resultats-produits/' + $('#search_engine').val().replace(' ', '+') + '">';
                  results_html = results_html + '<small>';
                  results_html = results_html + '<i class="fa fa-caret-right" aria-hidden="true"></i> Voir tous les produits';
                  results_html = results_html + '</small>';
                  results_html = results_html + '</a>';
                  results_html = results_html + '</div>';
                  results_html = results_html + '</div>';
                } else {
                  results_html = results_html + '<div class="autocomplete_result bg-light">';
                  results_html = results_html + '<i class="fa fa-frown-o" aria-hidden="true"></i> Aucun résultat';
                  results_html = results_html + '</div>';
                }
                $('#header_search_produits').html(results_html);
              },
              data: parametres
            });
          }
        }
        // Ferme les résultats d'autocomplétion lors d'un clic à l'extérieur de cet élement
        $(document.body).click(function (e) {
          var div_cliquable = $('#form-search-engine');
          if (!$(e.target).is(div_cliquable) && !$.contains(div_cliquable[0], e.target)) {
            $('#header_search_results').hide();
          }
        });

        // Moteur de recherche - méthode par soumission de formulaire
        $('#form-search-engine').submit(function (e) {
          if ($('#search_engine').val() != '') {
            e.preventDefault();
            window.location.href = "{{ path('plateforme_core_homepage') }}recherche/resultats-produits/" + $('#search_engine').val().replace(' ', '+');
            e.stopPropagation();
          } else {
            e.preventDefault();
            window.location.href = "#";
            e.stopPropagation();
          }
        });
      </script>
    {% endblock %}
  </body>
</html>
