{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h1>Édition de la page d'accueil</h1>

  <div class="row">
    <div class="col-9">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
        <li class="breadcrumb-item active">Accueil</li>
      </ol>
    </div>
    <div class="col-3 text-right">
      <div class="btn-group btn-group-sm">
        <form action="{{ path('plateforme_core_pages_publication') }}" method="post">
          <input type="hidden" name="page_id" value="{{page.id}}">
          <input type="hidden" name="page_is_public" value="{{page.isPublic}}">
          <button type="submit" class="btn {% if page.isPublic %}btn-success{% else %}btn-danger{% endif %} btn-sm">
            {% if page.isPublic %}
              <i class="fas fa-eye"></i> Publié
            {% else %}
              <i class="fa fa-eye-slash" aria-hidden="true"></i> Non publié
            {% endif %}
          </button>
        </form>
        &nbsp;
        <a href="{{ path('plateforme_core_homepage') }}" class="btn btn-light btn-sm">
          <i class="fa fa-external-link" aria-hidden="true"></i> Voir cette page
        </a>
      </div>
    </div>
  </div>

  <hr>

  <form 
    id="form_page"
    action="{{ path('plateforme_core_homepage_edit') }}" 
    method="post"
    >

    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <div class="p-2">
          <h2>Contenu</h2>
          <hr>
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control form-control-sm" id="titre" name="titre" value="{{ page.titre }}">
          </div>

          <div class="form-group">
            <label for="contenu">Contenu</label>
            <textarea class="form-control form-control-sm" id="contenu" name="contenu" rows="3">{{ page.contenu|raw }}</textarea>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="bg-light p-2">
          <h2><i class="fa fa-globe" aria-hidden="true"></i> Référencement</h2>
          <hr>

          <div class="form-group">
            <label for="metatitle">Meta title</label>
            <input type="text" class="form-control form-control-sm" id="metatitle" name="metatitle" value="{{ page.metatitle }}">
            <small id="metatitle_help" class="form-text text-muted"><i class="fa fa-info-circle" aria-hidden="true"></i> Sera une copie du titre si vide.</small>
          </div>

          <label for="metadescription">Meta description</label>
          <div class="input-group input-group-sm">
            <textarea class="form-control form-control-sm" id="metadescription" name="metadescription" rows="3">{{ page.metadescription|raw }}</textarea>
            <span class="input-group-addon" id="metadescription_size">{{ page.metadescription|length }}</span>
          </div>
          <small id="metadescription_help" class="form-text text-muted">
            <i class="fa fa-info-circle" aria-hidden="true"></i> Ce texte apparait dans les résultats des moteurs de recherche. Il est conseillé d'avoir entre 130 et 165 caractères.
          </small>

          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon1">Priorité Sitemap XML</span>
            <select class="form-control" id="xmlSitemapPriority" name="xmlSitemapPriority">
              <option value=null {% if page.xmlSitemapPriority is null %} selected="selected" {% endif %}></option>
              <option value="1.0" {% if page.xmlSitemapPriority == "1.0" %} selected="selected" {% endif %}>1.0</option>
              <option value="0.9" {% if page.xmlSitemapPriority == "0.9" %} selected="selected" {% endif %}>0.9</option>
              <option value="0.8" {% if page.xmlSitemapPriority == "0.8" %} selected="selected" {% endif %}>0.8</option>
              <option value="0.7" {% if page.xmlSitemapPriority == "0.7" %} selected="selected" {% endif %}>0.7</option>
              <option value="0.6" {% if page.xmlSitemapPriority == "0.6" %} selected="selected" {% endif %}>0.6</option>
              <option value="0.5" {% if page.xmlSitemapPriority == "0.5" %} selected="selected" {% endif %}>0.5</option>
              <option value="0.4" {% if page.xmlSitemapPriority == "0.4" %} selected="selected" {% endif %}>0.4</option>
              <option value="0.3" {% if page.xmlSitemapPriority == "0.3" %} selected="selected" {% endif %}>0.3</option>
              <option value="0.2" {% if page.xmlSitemapPriority == "0.2" %} selected="selected" {% endif %}>0.2</option>
              <option value="0.1" {% if page.xmlSitemapPriority == "0.1" %} selected="selected" {% endif %}>0.1</option>
              <option value="0.0" {% if page.xmlSitemapPriority == "0.0" %} selected="selected" {% endif %}>0.0</option>
            </select>
          </div>
          <br/>
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="basic-addon1">Fréquence Sitemap XML</span>
            <select class="form-control" id="xmlSitemapChangefreq" name="xmlSitemapChangefreq">
              <option value=null {% if page.xmlSitemapChangefreq is null %} selected="selected" {% endif %}></option>
              <option value="always" {% if page.xmlSitemapChangefreq == "always" %} selected="selected" {% endif %}>always</option>
              <option value="hourly" {% if page.xmlSitemapChangefreq == "hourly" %} selected="selected" {% endif %}>hourly</option>
              <option value="daily" {% if page.xmlSitemapChangefreq == "daily" %} selected="selected" {% endif %}>daily</option>
              <option value="weekly" {% if page.xmlSitemapChangefreq == "weekly" %} selected="selected" {% endif %}>weekly</option>
              <option value="monthly" {% if page.xmlSitemapChangefreq == "monthly" %} selected="selected" {% endif %}>monthly</option>
              <option value="yearly" {% if page.xmlSitemapChangefreq == "yearly" %} selected="selected" {% endif %}>yearly</option>
              <option value="never" {% if page.xmlSitemapChangefreq == "never" %} selected="selected" {% endif %}>never</option>
            </select>
          </div>

        </div>
      </div>

    </div>

    <hr>

    <button type="submit" class="btn btn-success btn-sm">
      <i class="far fa-save"></i>&nbsp;Enregistrer
    </button>

  </form>

{% endblock %}

{% block javascripts %}
  {# Récupération des scripts des parents #}
  {{ parent() }}

  <script>
    // Permet de compter les caractères pour conseillez à l'utilisateur de saisir environ 165 caractères.
    jQuery(document).on('change keyup', '#metadescription', function (event) {
      var taille_metadescription = $(this).val().length;
      $('#metadescription_size').text(taille_metadescription);
    });
  </script>
{% endblock %}