{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {% if page.groupe is not null %}
    {{ page.groupe.metatitle }} | {{ parent() }}
  {% endif %}
{% endblock %}
{% block metadescription %}
  {% if page.groupe is not null %}
    {{ page.groupe.metadescription }} | {{ parent() }}
  {% endif %}
{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>{{ page.titre }}</h1>
    <div>{{ page.contenu|raw }}</div>
  </div>
  
{% endblock %}