{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}{{ page.metatitle }} | {{ parent() }}{% endblock %}
{% block metadescription %}{{ page.metadescription }} | {{ parent() }}{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>{{ page.titre }}</h1>
    <div>{{ page.contenu|raw }}</div>
  </div>
  
{% endblock %}