{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block body %}

  <h1>Suppression d'un produit</h1>

  <p>
    Etes-vous certain de vouloir supprimer le produit "<i>{{ produit.titre }}</i>" ?
  </p>

  <form action="{{ path('plateforme_catalogue_produits_delete', {'id': produit.id}) }}" method="post">
    <a href="{{ path('plateforme_catalogue_produits_edit', {'id': produit.id}) }}" class="btn btn-default">
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Retour à l'édition
    </a>
    <a href="{{ path('plateforme_catalogue_produits_view', {'slug': produit.slug}) }}" class="btn btn-default">
      <i class="fa fa-eye" aria-hidden="true"></i>
      Voir la fiche de ce produit
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}