{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>{{ produit.titre }}</h1>

    <img
      class="img-responsive"
      src="{{ asset(produit.image.webPath) }}"
      alt="{{ produit.image.alt }}"
    />

    <div>
      {{ produit.contenu|raw }}
    </div>
  </div>
  
{% endblock %}