{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {{ produit.titre }} - {{ parent() }}
{% endblock %}

{% block body %}
  
  <div class="container">
    <h1>{{ produit.titre }}</h1>

    <div class="row">
      <div class="col-sm-6">
        <img
          class="img-fluid"
          src="{{ asset(produit.image.webPath) }}"
          alt="{{ produit.image.alt }}"
        />
      </div>
      <div class="col-sm-6">
        prix: {{ produit.prix }} € HT
        <br>
        {% if panier[produit.id] is not defined %}
          <a class="btn btn-success" href="{{ path('plateforme_ecommerce_commandeligne_add', { 'id' : produit.id }) }}">
            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;Ajouter au panier
          </a>
        {% else %}
          <a class="btn btn-warning" href="{{ path('plateforme_ecommerce_commandeligne_delete', { 'id' : produit.id }) }}">
            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Retirer du panier
          </a>
        {% endif %}
      </div>
    </div>

    <div>
      <h2>Description</h2>
      {{ produit.contenu|raw }}
    </div>
    
    
  </div>
  
{% endblock %}