{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {{ produit.titre }} - {{ parent() }}
{% endblock %}

{% block body %}

  <div class="container">
    <h1>{{ produit.titre }}</h1>

    <div class="row">
      <div class="col-sm-6">
        <img
          class="img-fluid"
          src="{{ asset(produit.image.webPath) }}"
          alt="{{ produit.image.alt }}"
          />
      </div>
      <div class="col-sm-6">

        {% for categorie in attribut_categories %}
          <div>
            <b>{{ categorie.nom }}</b>
          </div>
          {% if categorie.type == 'select' %}
            <select class="form-control" id="{{ categorie.machine }}" name="{{ categorie.machine }}">
              <option value="" >todo</option>
            </select>
          {% endif %}

          {% if categorie.type == 'color' %}
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="{{ categorie.machine }}" id="{{ categorie.machine }}" value="option1">
              </label>
            </div>
          {% endif %}

          {% if categorie.type == 'radio' %}
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="{{ categorie.machine }}" id="{{ categorie.machine }}" value="option1">
              </label>
            </div>
          {% endif %}
        {% endfor %}

        {% for declinaison in declinaisons %}
          {% for combinaison in declinaison.combinaison %}
          {% endfor %}
        {% endfor %}

        <hr>

        prix: {{ produit.prix }} € HT

        <br>
        {% if produit.stock > 0 %}
          {% if produit.stock == 1 %}
            <p>{{ produit.stock }} disponible</p>
          {% endif %}
          {% if produit.stock > 1 %}
            <p>{{ produit.stock }} disponibles</p>
          {% endif %}
          {% if panier[produit.id] is not defined %}
            <a class="btn btn-success" href="{{ path('plateforme_ecommerce_commandeligne_add', { 'id' : produit.id }) }}">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;Ajouter au panier
            </a>
          {% else %}
            <a class="btn btn-warning" href="{{ path('plateforme_ecommerce_commandeligne_delete', { 'id' : produit.id }) }}">
              <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Retirer du panier
            </a>
          {% endif %}
        {% else %}
          <p>momentanément indisponible</p>
        {% endif %}
      </div>
    </div>

    <div>
      <h2>Description</h2>
      {{ produit.contenu|raw }}
    </div>


  </div>

{% endblock %}