{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  {{ produit.titre }} - {{ parent() }}
{% endblock %}

{% block body %}

  <nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Produits</li>
      <li class="breadcrumb-item">{{ produit.marque }}</li>
      <li class="breadcrumb-item active">{{ produit.titre }}</li>
    </ol>
  </nav>

  <div class="container" itemscope itemtype="http://schema.org/Product">


    <div class="row">

      <div class="col-12 col-sm-6">
        <img
          itemprop="image"
          class="img-fluid"
          src="{{ asset(produit.image.webPath) }}"
          alt="{{ produit.image.alt }}"
          />
      </div>

      <div class="col-12 col-sm-6">
        <h1 itemprop="name">{{ produit.titre }}</h1>

        <div id="declinaisons_form_area">
          {% for categorie_machine, attributs in attributes_by_categorie %}
            <div>
              <b>{{ categorie_machine|getCategoryEntity.nom }}</b>
            </div>
            {% if categorie_machine|getCategoryEntity.type == 'select' %}
              <select class="form-control declinaison_input" id="{{ categorie_machine }}" name="{{ categorie_machine }}">
                {% for attribut in attributs %}
                  <option value="{{ attribut }}" >{{ attribut }}</option>
                {% endfor %}
              </select>
            {% endif %}

            {% if categorie_machine|getCategoryEntity.type == 'color' %}
              {% for attribut in attributs %}
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input class="form-check-input declinaison_input" type="radio" name="{{ categorie_machine }}" id="{{ categorie_machine }}" value="{{ attribut }}">
                    {{ attribut }} 
                  </label>
                </div>
              {% endfor %}
            {% endif %}

            {% if categorie_machine|getCategoryEntity.type == 'radio' %}
              {% for attribut in attributs %}
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input declinaison_input" type="radio" name="{{ categorie_machine }}" id="{{ categorie_machine }}" value="{{ attribut }}">
                    {{ attribut }} 
                  </label>
                </div>
              {% endfor %}
            {% endif %}

          {% endfor %}
        </div>

        <hr>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="EUR" />
          Prix: <span itemprop="price">{{ produit.prix }}</span> € HT
        </div>

        <div>
          Référence: <span itemprop="identifier">{{ produit.id }}</span>
        </div>

        <br>
        {% if produit.stock > 0 %}
          {% if produit.stock == 1 %}
            <p>{{ produit.stock }} disponible</p>
          {% endif %}
          {% if produit.stock > 1 %}
            <p>{{ produit.stock }} disponibles</p>
          {% endif %}
          {% if panier[produit.id] is not defined %}
            <a class="btn btn-success" href="{{ path('plateforme_ecommerce_commandeligne_add', { 'id' : produit.id }) }}">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>&nbsp;Ajouter au panier
            </a>
          {% else %}
            <a class="btn btn-warning" href="{{ path('plateforme_ecommerce_commandeligne_delete', { 'id' : produit.id }) }}">
              <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Retirer du panier
            </a>
          {% endif %}
        {% else %}
          <p>momentanément indisponible</p>
        {% endif %}
      </div>
    </div>

    <h2>Description</h2>
    <div itemprop="description">
      {{ produit.contenu|raw }}
    </div>

  </div>

{% endblock %}


{% block javascripts %}
  {# Récupération des scripts des parents #}
  {{ parent() }}

  <script>

    // Lance le chargement des informations d'une déclinaison lors d'un choix
    jQuery(document).on('change', '.declinaison_input', function (event) {
      loadDeclinaison();
    });


    // Chargement de la déclinaison
    function loadDeclinaison() {
      var parametres = {
        todo: 'todo'
      };
      $.ajax({
        url: "{{ path('plateforme_catalogue_produits_majfiche') }}",
        type: 'post',
        dataType: 'json',
        success: function (data) {
          alert(data.prix);
        },
        data: parametres
      });
    }

  </script>
{% endblock %}