{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Gestion des actualités - {{ parent() }}
{% endblock %}

{% block body %}
  
  <h1>Gestion des actualités</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item active">Actualités</li>
  </ol>
  
  <hr>
  
  <a href="{{ path('plateforme_core_page_actualites_add') }}" class="btn btn-success btn-sm">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Créer une actualité
  </a>
        
  <br><br>
  
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Slug utilisé pour l'URL</th>
          <th>Actions</th>
        </tr>
      </thead>
        {% for actualite in actualites %}
          <tr>
            <td>{{ actualite.id }}</td>
            <td>{{ actualite.titre }}</td>
            <td>{{ actualite.slug }}</td>
            <td>
              <a href="{{ path('plateforme_core_page_actualites_view', {'slug': actualite.slug}) }}" data-toggle="tooltip" data-placement="top" title="Modifier">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              &nbsp;|&nbsp;
              <a href="{{ path('plateforme_core_page_actualites_edit', {'id': actualite.id}) }}" data-toggle="tooltip" data-placement="top" title="Modifier">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </a>
              &nbsp;|&nbsp;
              <a href="{{ path('plateforme_core_page_actualites_clone', {'id': actualite.id}) }}" data-toggle="tooltip" data-placement="top" title="Cloner">
                <i class="fa fa-clone" aria-hidden="true"></i>
              </a>
              &nbsp;|&nbsp;
              <a href="{{ path('plateforme_core_page_actualites_delete', {'id': actualite.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?');">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}