{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Gestion des tarifs de La Poste - lettre colissimo - {{ parent() }}
{% endblock %}

{% block body %}
  
  <h1>Gestion des tarifs de La Poste - lettre colissimo</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_configuration') }}">Configuration</a></li>
    <li class="breadcrumb-item active">Tarifs de La Poste - lettre colissimo</li>
  </ol>
  
  <a href="{{ path('plateforme_ecommerce_tariflapostecolissimo_add') }}" class="btn btn-success btn-sm">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Ajouter un tarif
  </a>
    
  <br><br>
  
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Pays</th>
          <th>Tarif</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for tarif in tarifs %}
          <tr>
            <td>{{ tarif.pays }}</td>
            <td>{{ tarif.tarif }}</td>
            <td>
              <a href="{{ path('plateforme_ecommerce_tariflapostecolissimo_edit', {'id': tarif.id}) }}" data-toggle="tooltip" data-placement="top" title="Modifier">
                <i class="fas fa-pencil-alt"></i>
              </a>
              &nbsp;|&nbsp;
              <a href="{{ path('plateforme_ecommerce_tariflapostecolissimo_delete', {'id': tarif.id}) }}" data-toggle="tooltip" data-placement="top" title="Supprimer">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
{% endblock %}