{% extends "PlateformeCoreBundle::backoffice.html.twig" %}
{% block title %}
  Création d'une page - {{ parent() }}
{% endblock %}
{% block body %}

  <h1>Création d'une page</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_page_pages_crud') }}">Pages</a></li>
    <li class="breadcrumb-item active">Création</li>
  </ol>

  <hr>

  <form 
    id="form_page"
    action="{{ path('plateforme_core_page_pages_add') }}" 
    method="post"
    >

    <div class="row">
      <div class="col-12">
        <div class="p-2">
          <h2>Contenu</h2>
          <hr>
          <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" class="form-control form-control-sm" id="titre" name="titre">
          </div>

          <div class="form-group">
            <label for="contenu">Contenu</label>
            <textarea class="form-control form-control-sm" id="contenu" name="contenu" rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <button type="submit" class="btn btn-success btn-sm">
      <i class="far fa-save"></i>&nbsp;Enregistrer
    </button>

  </form>


{% endblock %}

{% block javascripts %}
  {# Récupération des scripts des parents #}
  {{ parent() }}

  <script>
    // Permet de compter les caractères pour conseillez à l'utilisateur de saisir environ 165 caractères.
    jQuery(document).on('change keyup', '#metadescription', function (event) {
      var taille_metadescription = $(this).val().length;
      $('#metadescription_size').text(taille_metadescription);
    });
  </script>
{% endblock %}