{% extends "PlateformeCoreBundle::backoffice.html.twig" %}
{% block title %}
  Édition d'une page - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Édition d'une page</h1>

  <div class="row">
    <div class="col-9">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
        <li class="breadcrumb-item"><a href="{{ path('plateforme_core_page_pages_crud') }}">Pages</a></li>
        <li class="breadcrumb-item active">Édition</li>
      </ol>
    </div>
    <div class="col-3 text-right">
      <div class="btn-group btn-group-sm">
        <form action="{{ path('plateforme_core_pages_publication') }}" method="post">
          <input type="hidden" name="page_id" value="{{page.id}}">
          <input type="hidden" name="page_is_public" value="{{page.isPublic}}">
          <button type="submit" class="btn {% if page.isPublic %}btn-success{% else %}btn-danger{% endif %} btn-sm">
            {% if page.isPublic %}
              <i class="fas fa-eye"></i> Publié
            {% else %}
              <i class="fa fa-eye-slash" aria-hidden="true"></i> Non publié
            {% endif %}
          </button>
        </form>
        &nbsp;
        {#<a href="{{ path('plateforme_core_page_pages_view', {'slug': page.groupe.slug}) }}" class="btn btn-light btn-sm">
          <i class="fas fa-external-link-alt"></i> Voir cette page
        </a>#}
      </div>
    </div>
  </div>

  <hr>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="onglet-contenu" data-toggle="tab" href="#content-contenu" role="tab" aria-controls="content-contenu" aria-selected="true">
        <i class="fas fa-pencil-alt"></i> Contenu
      </a>
      <a class="nav-item nav-link" id="onglet-version" data-toggle="tab" href="#content-version" role="tab" aria-controls="content-version" aria-selected="false">
        <i class="fas fa-code-branch"></i> Versions
      </a>
      <a class="nav-item nav-link" id="onglet-contributeurs" data-toggle="tab" href="#content-contributeurs" role="tab" aria-controls="content-contributeurs" aria-selected="false">
        <i class="fas fa-users"></i> Contributeurs
      </a>
    </div>
  </nav>

  <div class="tab-content" id="onglets">
    <div class="tab-pane fade show active" id="content-contenu" role="tabpanel" aria-labelledby="onglet-contenu">
      <form 
        id="form_page"
        action="{{ path('plateforme_core_page_pages_edit', {'id': page.id}) }}" 
        method="post"
        >

        <div class="row">
          <div class="col-12 col-md-8">
            <div class="p-2">
              <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control form-control-sm" id="titre" name="titre" value="{{ page.titre }}">
              </div>

              <div class="form-group">
                <label for="contenu">Contenu</label>
                <textarea class="form-control form-control-sm" id="contenu" name="contenu" rows="3">{{ page.contenu|raw }}</textarea>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-4">
            {{ render(controller("PlateformeCoreBundle:SEO:edit", {'id': page.id })) }}
          </div>
        </div>

        <hr>

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <button class="btn btn-success" type="submit">
              <i class="far fa-save"></i>&nbsp;Enregistrer
            </button>
          </div>
          <input type="text" class="form-control form-control-sm" name="commentaire_version" placeholder="Laisser un commentaire sur vos modifications..." required />
        </div>
      </form>
    </div>

    <div class="tab-pane fade" id="content-version" role="tabpanel" aria-labelledby="onglet-version">
      {{ render(controller("PlateformeCoreBundle:Page:showVersions", {'id': first_version.id, 'route': 'plateforme_core_page_pages_edit', 'page': page })) }}
    </div>

    <div class="tab-pane fade" id="content-contributeurs" role="tabpanel" aria-labelledby="onglet-contributeurs">
      {{ render(controller("PlateformeCoreBundle:Page:showContributeurs", {'id': page.groupe.id })) }}
    </div>
  </div>

{% endblock %}