<div class="row">
  <div class="col-12 col-sm-8">
    <ul id="tree" class="tree">
      <li>
        <span class="btn-group m-1" role="group" aria-label="First group">
          <a class="btn btn-light btn-sm text-left border" href="{{ path(route, {'id': first_version.id}) }}">
            <small>
              <b><span class="text-muted">#{{first_version.id}}</span> Version originale</b>
              <br>par {{first_version.auteur}}
              <br>le {{first_version.created|date('d/m/Y H:i:s')}}
            </small>
          </a>
          <a class="btn btn-primary add_comment_link d-flex align-items-center" href="#" data-version-id="{{first_version.id}}" data-toggle="modal" data-target="#versionCommentModal">
            <i class="far fa-comments"></i>
          </a>
        </span>
        {{ html_versions|raw }}
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-4">
    <div class="bg-light p-2">
      <h2><i class="fas fa-users"></i> Statut de la page #{{ page.id }}</h2>
      <hr>
      <p><b><i class="fas fa-edit"></i> Rédigée par {{ page.auteur }}</b></p>
      <hr>
      <form action="{{ path('plateforme_core_pages_approbation_add') }}" method="POST">
        <input type="hidden" name="approbation_page_id" id="approbation_page_id" value="{{ page.id }}" />
        <p><b><i class="far fa-thumbs-up"></i> Approbations :</b></p>
        {% for groupe_contributeur in groupe_contributeurs %}
          {% if groupe_contributeur.approbateur %}
            {% if app.user == groupe_contributeur.contributeur %}
              {% set etat_approbation_user = null %}
              {% for approbation in approbations %}
                {% if app.user == approbation.contributeur %}
                  {% set etat_approbation_user = approbation.etat %}
                {% endif %}
              {% endfor %}
              <div class="input-group input-group-sm mb-2">
                <select class="form-control form-control-sm" name="approbation_choice" onchange="this.form.submit()">
                  <option {% if etat_approbation_user is null %}selected{%endif%} disabled> - Votre choix - </option>
                  <option {% if etat_approbation_user == 1 %}selected{%endif%} value="1">Approuvé</option>
                  <option {% if etat_approbation_user == 2 %}selected{%endif%} value="2">Non approuvé</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text">
                    {{ groupe_contributeur.contributeur.prenom }} {{ groupe_contributeur.contributeur.nom }}
                  </label>
                </div>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% for groupe_contributeur in groupe_contributeurs %}
          {% if groupe_contributeur.approbateur %}
            {% if app.user != groupe_contributeur.contributeur %}
              <button type="button" class="btn btn-sm btn-secondary">
                {{ groupe_contributeur.contributeur.prenom }} {{ groupe_contributeur.contributeur.nom }}
              </button>
            {% endif %}
          {% endif %}
        {% endfor %}
      </form>
    </div>
  </div>
</div>

{# Formulaire des contributions #}
<div class="modal fade" id="contributionsModal" tabindex="-1" role="dialog" aria-labelledby="contributionsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="contributionsModalLabel">Statut de cette version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="form_contributions" method="post">
        <div class="modal-body">
          <div id="contributeurs_area"></div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-success">
            <i class="far fa-save"></i> Enregistrer
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

{# Formulaire d'ajout de commentaire de version #}
<div class="modal fade" id="versionCommentModal" tabindex="-1" role="dialog" aria-labelledby="versionCommentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="versionCommentModalLabel">Commentaires sur cette version</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="form_version_comments" method="post">
        <div class="modal-body">
          <div id="comments_area" style="overflow-y:scroll;max-height:350px;"></div>
        </div>
        <div class="modal-footer">
          <div class="input-group">
            <input type="hidden" id="version_id" name="version_id" value="">
            <input type="text" class="form-control form-control-sm" id="version_comment" name="version_comment">
            <div class="input-group-append">
              <button id="addCommentaire" class="btn btn-outline-secondary" type="button">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>