{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Suppression d'un tarif de La Poste par lettre - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Suppression d'un tarif de La Poste - envoi par lettre</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fas fa-tachometer-alt"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_configuration') }}">Configuration</a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_ecommerce_tariflapostelettre_crud') }}">Tarifs de La Poste par lettre</a></li>
    <li class="breadcrumb-item active">Suppression</li>
  </ol>

  <p>
    Etes-vous certain de vouloir supprimer le tarif pour le pays "<i>{{ tarif.pays }}</i>" ?
  </p>

  <form action="{{ path('plateforme_ecommerce_tariflapostelettre_delete', {'id': tarif.id}) }}" method="post">
    <a href="{{ path('plateforme_ecommerce_tariflapostelettre_edit', {'id': tarif.id}) }}" class="btn btn-default">
      <i class="fas fa-pencil-alt"></i>
      Retour à l'édition
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
    {{ form_rest(form) }}
  </form>

{% endblock %}