{% extends "PlateformeCoreBundle::frontoffice.html.twig" %}

{% block title %}
  Validation de votre commande - {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container">

    <div class="hidden-small">
      <div class="row">
        <div class="col-2 text-center">
          <a href="{{ path('plateforme_ecommerce_tunnel_panier') }}" class="text-success">
            <small>Votre panier</small>
            <br><i class="fas fa-shopping-cart"></i>
          </a>
        </div>
        <div class="col-2 text-center text-success">
          <small>Authentification</small>
          <br><i class="fa fa-sign-in" aria-hidden="true"></i>
        </div>
        <div class="col-2 text-center">
          <a href="{{ path('plateforme_ecommerce_tunnel_livraison') }}" class="text-success">
            <small>Livraison</small>
            <br><i class="fa fa-truck" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-2 text-center text-success">
          <small>Validation</small>
          <br><i class="fa fa-check-square" aria-hidden="true"></i>
        </div>
        <div class="col-2 text-center text-primary">
          <small>Paiement</small>
          <br><i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <div class="col-2 text-center text-muted">
          <small>Récapitulatif</small>
          <br><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
        </div>
      </div>
      <div class="progress" style="height: 1px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: 66%" aria-valuemax="100"></div>
        <div class="progress-bar" role="progressbar" style="width: 16%" aria-valuemax="100"></div>
      </div>
      <br>
    </div>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <p class="lead text-center">
          Patientez... Vous allez être redirigé vers le site de <i>Paypal</i> pour procéder au paiement de votre commande.
          <br>
          <br>
          <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </p>
      </div>
    </div>

    {#
      Test des achats avec le compte sandbox:
      login: test-achat@personnal.fr
      login: test-achat@business.fr
      passwords: test1234
    #}
    <form
      id="form_paypal"
      name="form_paypal"
      action="{{ paypal_url }}"
      method="post"
      >
      <input type='hidden' value="{{ commande.totalTtc|number_format(2, '.', '') }}" name="amount" />
      <input name="currency_code" type="hidden" value="EUR" />
      <input name="shipping" type="hidden" value="0.00" />
      <input name="tax" type="hidden" value="0.00" />
      <input name="return" type="hidden" value="{{ paypal_url_return }}" />
      <input name="cancel_return" type="hidden" value="{{ paypal_url_cancel }}" />
      <input name="notify_url" type="hidden" value="{{ paypal_url_notify }}" />
      <input name="cmd" type="hidden" value="_xclick" />
      <input name="business" type="hidden" value="{{ paypal_mail }}" />
      <input name="item_name" type="hidden" value="Achat sur {{ site_name }}" />
      <input name="no_note" type="hidden" value="1" />
      <input name="lc" type="hidden" value="FR" />
      <input name="bn" type="hidden" value="PP-BuyNowBF" />
      <input name="custom" type="hidden" value="{{ app.user.email }}" />
    </form>
  </div>
{% endblock %}

{% block javascripts %}
  {# Récupération des scripts des parents #}
  {{ parent() }}

  <script type="text/javascript">
    function formAutoSubmit() {
      var frm = document.getElementById("form_paypal");
      frm.submit();
    }
    window.onload = formAutoSubmit;
  </script>

{% endblock %}