{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Création d'une fiche attribut - {{ parent() }}
{% endblock %}

{% block body %}

  <h1>Création d'une catégorie d'attribut</h1>
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_catalogue') }}">Catalogue</a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_catalogue_attributs_categories_crud') }}">Catégories d'attribut</a></li>
    <li class="breadcrumb-item active">Création</li>
  </ol>

  <hr>
  
  {{ include("PlateformeCatalogueBundle:Attribut:form.html.twig") }}

{% endblock %}