{% extends "PlateformeCoreBundle::backoffice.html.twig" %}

{% block title %}
  Édition de "{{ categorie.nom }}" - {{ parent() }}
{% endblock %}

{% block body %}
  
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_homepage') }}"><i class="fa fa-dashboard" aria-hidden="true"></i></a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_core_bo_catalogue') }}">Catalogue</a></li>
    <li class="breadcrumb-item"><a href="{{ path('plateforme_catalogue_attributs_categories_crud') }}">Catégories d'attribut</a></li>
    <li class="breadcrumb-item active">Édition</li>
  </ol>

  <hr>

  <h1>Édition de la catégorie d''attribut <i>"{{ categorie.nom }}"</i></h1>
  
  <hr>

  {{ include("PlateformeCatalogueBundle:AttributCategorie:form.html.twig") }}
  

{% endblock %}